@import "base/reset";
@import "base/fonts";
@import "base/mixins";
@import "base/variables";
@import "./node_modules/hamburgers/dist/hamburgers";

/*******************/
/**     GLOBAL    **/
/*******************/
* {
  font-family: "Fira Sans", sans-serif !important;
}

.container {
  width: 96%;
  max-width: 1400px;
  margin: 0 auto;
  min-width: 300px;
}

img {
  @include responsive;
}

.btn {
  height: 40px;
  line-height: 40px;
  border: 2px solid $green;
  border-radius: 21px;
  padding: 0 30px;
  color: $green;
  background-color: $white;
  font-weight: 700;
  display: inline-block;
  margin-top: 32px;
  &.btn--transparent {
    border-color: $white;
    color: $white;
    background-color: transparent;
  }
  &.btn--orange {
    border-color: $orange;
    color: $white;
    background-color: $orange;
  }
}
h1 {
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  margin-bottom: 35px;
  color: $white;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: $green;
}
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  color: $grey;
}

/*******************/
/**     BANNER    **/
/*******************/
.banner {
  height: 632px;
  background-image: url(../images/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .container {
    padding-top: 125px;
  }
  p {
    font-weight: 400;
    color: $white;
    font-size: 25px;
    line-height: 30px;
  }
}

/*******************/
/**     COLS-3    **/
/*******************/
.cols-3 {
  @include make-col(3, 35px);
  h2,
  p {
    text-align: left;
    margin-bottom: 0;
  }
  article {
    text-align: center;
  }
  img {
    margin: 10px 0 20px 0;
  }
}
body > .container {
  text-align: center;
  padding: 30px 0;
}

/**********************/
/**     GREENZONE    **/
/**********************/
.greenzone {
  background-color: $green-light;
  padding: 25px 0;
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
  p {
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 0;
  }
}

/*******************/
/**     COLS-2    **/
/*******************/
.cols-2 {
  display: flex;
  section {
    width: calc(70% - 35px);
    margin-right: 35px;
    text-align: left;
    a:first-of-type {
      display: block;
      position: relative;
      &::before {
        position: absolute;
        font-family: icons;
        top: 50%;
        left: 50%;
        font-size: 100px;
        margin-left: -50px;
        margin-top: -50px;
        content: "\f144";
        color: $white;
      }
    }
  }
  aside {
    text-align: left;
    width: 30%;
    .realisations {
      @include make-col(3, 9px);
      margin-bottom: 14px;
      a {
        position: relative;
        overflow: hidden;
        img {
          transition: all 300ms;
        }
        &:hover {
          &::before,
          &::after {
            transition: all 400ms;
            opacity: 1;
          }
          img {
            transform: scale(1.1) rotate(2.5deg);
          }
        }
      }
      a::before {
        z-index: 20;
        opacity: 0;
        content: "";
        width: 100%;
        height: 100%;
        background-color: $greentrans2;
        position: absolute;
      }
      a::after {
        z-index: 21;
        opacity: 0;
        content: "\e804";
        font-family: icons;
        color: $white;
        position: absolute;
        font-size: 30px;
        top: 50%;
        left: 50%;
        margin-left: -15px;
        margin-top: -15px;
      }
    }
  }
}

/*******************/
/**     HEADER    **/
/*******************/

.zone1 {
  .container {
    align-items: center;
    display: flex;
    padding-bottom: 35px;
    padding-top: 47px;

    > a {
      display: block;
      margin-right: auto;
      width: 180px;
    }

    > nav {
      position: relative;

      > ul {
        display: flex;

        li {
          margin-left: 45px;

          &:hover {
            ul {
              display: block;
            }

            a {
              border-bottom-color: $green;
            }
          }

          &:first-child {
            margin-left: 0;
          }

          a {
            border-bottom: 4px solid $white;
            color: $grey;
            font-size: 16px;
            padding-bottom: 5px;
            padding-left: 18px;
            position: relative;
            text-transform: uppercase;

            &.active,
            &:hover {
              border-bottom-color: $green;
            }

            &::before {
              content: "\e801";
              font-family: icons;
              font-size: 14px;
              left: 0;
              position: absolute;
              top: 2px;
            }
          }
        }
      }

      ul.contactlinks {
        left: 0;
        position: absolute;
        top: -42px;

        a {
          border-bottom-style: none;
          color: $green;
          text-transform: lowercase;

          &:hover {
            text-decoration: underline;
          }
        }
        li:nth-child(1) a {
          &::before {
            content: "\f0e5";
            color: $grey;
            font-size: 17px;
            left: -2px;
            top: -1px;
          }
        }

        li:nth-child(2) a::before {
          color: $grey;
          content: "\f1d8";
        }
      }

      ul.language {
        background-color: $green;
        padding: 8px;
        position: absolute;
        right: 0;
        top: -56px;

        li {
          margin-left: 0;

          a {
            border-bottom-style: none;
            color: $white;
            display: block;
            padding: 0 7px;

            &.active {
              color: $grey;
            }

            &:hover {
              text-decoration: underline;
            }
          }

          a:before {
            display: none;
          }

          &:nth-child(2) {
            border-left: 2px solid $white;
          }
        }
      }
    }
  }
}

.zone1 .container > nav > ul > li:hover > ul a {
  border-bottom-color: $white;
}

.zone1 .container > nav > ul > li {
  position: relative;

  > ul {
    display: none;
    position: absolute;
    top: 26px;
    z-index: 2;

    li {
      margin-left: 0;
      border: 1px solid $green;

      a {
        background-color: $white;
        border-bottom-width: 4px;
        border-bottom-color: $white;

        &:hover {
          background-color: $green-light;
          border-bottom-color: $white;
        }

        display: block;
        padding: 5px 5px 5px 7px;
        border: 4px solid $white;
        white-space: nowrap;

        &::before {
          display: none;
        }
      }
    }
  }
}

.zone2 {
  background-color: $green;

  ul {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 11px;
    padding-top: 20px;

    li {
      margin-left: 152px;
      transition: all 500ms;
      &:first-child {
        margin-left: 0;
      }

      a {
        border-bottom: 4px solid $green;
        color: $white;
        display: block;
        font-size: 23px;
        padding: 0 0 8px 20px;
        position: relative;
        text-transform: uppercase;

        &.active,
        &:hover {
          border-bottom-color: $white;
        }

        &::before {
          content: "\e801";
          font-family: icons;
          font-size: 14px;
          left: 0;
          position: absolute;
          top: 4px;
        }
      }
    }
  }
}

.zone2 ul li:hover ul {
  display: block;
}

/*******************/
/**     FOOTER    **/
/*******************/

footer {
  background-color: $grey;
  border-top: 30px solid $green;
  padding: 30px 0px;
  h3 {
    color: $green;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    > ul {
      flex: 1;
      li a {
        line-height: 25px;
        color: $white;
      }
    }
    div:nth-child(2) {
      flex: 3;
      margin-left: 30px;
      margin-right: 30px;
      p {
        color: $white;
        font-weight: 200;
        strong {
          font-weight: 700;
          color: $white;
        }
      }
    }
    div:nth-child(3) {
      flex: 2;
      li a {
        line-height: 25px;
        color: $white;
      }
      p {
        a {
          font-size: 30px;
          color: $white;
          display: inline-block;
          margin-top: 25px;
          margin-right: 12px;
        }
      }
    }
    > p {
      width: 100%;
      color: $white;
      font-weight: 200;
      margin: 20px 0px;
    }
  }
}

/*******************/
/**  HAMBURGER    **/
/*******************/

.hamburger {
  display: none;
  position: absolute;
  top: 35px;
  right: 2%;
  padding-right: 0;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: $green;
}

/***********************/
/**  PAGE STYLES    **/
/***********************/

.container main h1 {
  color: $grey;
}
.container main.contact h1 {
  color: red;
}

/***********************/
/**  MEDIA QUERIES    **/
/***********************/

@media screen and (max-width: 1200px) {
  .zone2 ul li {
    margin-left: 110px;
  }
  .zone1 .container > nav > ul li {
    margin-left: 35px;
  }
}

@media screen and (max-width: 1000px) {
  .zone2 ul li {
    margin-left: 60px;
  }
  .zone1 .container > nav > ul li {
    margin-left: 25px;
  }
}
@media screen and (max-width: 900px) {
  .cols-2 section {
    width: calc(62% - 35px);
  }
  .cols-2 aside {
    width: 38%;
    .realisations {
      // overflow-y: scroll;
      // height: 300px;
      @include make-col(2, 9px);
      margin-bottom: 9px;
      /* hide last 6 children */
      > *:nth-child(n + 7) {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .zone2 {
    height: 5px;
    overflow: hidden;
  }
  header nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .cols-2 section,
  .cols-2 aside {
    width: 100%;
    margin-right: 0;
  }
  .cols-3 {
    @include make-col(2, 35px);
    > *:nth-child(3) {
      width: 100%;
      margin-right: 0;
    }
  }
  h1 {
    font-size: 52px;
    line-height: 60px;
  }
  .cols-2 {
    flex-wrap: wrap;
  }
  .cols-3 {
    @include make-col(1, 35px);
  }
}

@media screen and (max-width: 500px) {
  .btn {
    display: block;
    text-align: center;
    font-size: 26px;
    padding: 9px 0px;
    height: auto;
    text-transform: uppercase;
  }
  h1,
  p {
    text-align: center;
  }
  p {
    font-size: 17px;
    line-height: 21px;
  }
  br {
    display: none;
  }
  footer .container > * {
    width: 100% !important;
    flex: none !important;
    &:nth-child(1) {
      display: none;
    }
    &:nth-child(2) {
      margin-left: 0px !important;
      p {
        text-align: left;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 38px;
    line-height: 42px;
  }
}
