@font-face {
  font-family: "icons";
  src: url("./icons.eot?95990973");
  src: url("./icons.eot?95990973#iefix") format("embedded-opentype"),
    url("./icons.woff2?95990973") format("woff2"),
    url("./icons.woff?95990973") format("woff"),
    url("./icons.ttf?95990973") format("truetype"),
    url("./icons.svg?95990973#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icons';
    src: url('../font/icons.svg?95990973#icons') format('svg');
  }
}
*/

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-right-dir:before {
  content: "\e800";
} /* '' */
.icon-ok:before {
  content: "\e801";
} /* '' */
.icon-down-open:before {
  content: "\e802";
} /* '' */
.icon-location:before {
  content: "\e803";
} /* '' */
.icon-plus:before {
  content: "\e804";
} /* '' */
.icon-calendar:before {
  content: "\e805";
} /* '' */
.icon-facebook:before {
  content: "\f09a";
} /* '' */
.icon-filter:before {
  content: "\f0b0";
} /* '' */
.icon-resize-full-alt:before {
  content: "\f0b2";
} /* '' */
.icon-building:before {
  content: "\f0f7";
} /* '' */
.icon-circle-empty:before {
  content: "\f10c";
} /* '' */
.icon-circle:before {
  content: "\f111";
} /* '' */
.icon-play-circled:before {
  content: "\f144";
} /* '' */
.icon-youtube:before {
  content: "\f167";
} /* '' */
.icon-instagram:before {
  content: "\f16d";
} /* '' */
.icon-paper-plane:before {
  content: "\f1d8";
} /* '' */
.icon-whatsapp:before {
  content: "\f232";
} /* '' */
