/* COLORS */
$bodybg: rgb(82, 129, 94);
$green: #a8c30b;
$green-light: #f8faed;
$white: #fff;
$grey: #575756;
$orange: #f9b000;
$greentrans2: rgba(169, 195, 12, 0.76);
$greentrans: #f6f8ec;
/* SIZING */
$fs: 14px;
$lh: 20px;
